<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h1>Tiny App</h1>
    <%- include("./partials/_header.ejs") %>
    <br>
    <br>
    <h3>My URLs:</h3>
    <table>
     <% if (!username) { %>
     <p>Please log into account or Register to see URL's</p>
     <% } else { %>
      <% for (let key in urls) { %>
      <tr>
        <form method="post" action = "/urls/delete">
         <td><%= `Short URL: ${key} --->`%></td>
        <td><a href=<%=`/u/${key}` %> ><%=`${urls[key]}`%></a></td>
        <td><span>&nbsp&nbsp&nbsp&nbsp</span></td>
          <td><a href = <%='/urls/'+key%> >Edit</a></td>
          <td> &nbsp&nbsp&nbsp&nbsp   </td>
        <td><button type="submit" name=id value=<%=key%>>Delete</button></td>
      </form>
    </tr>
   <% } } %>
    </table>
</body>
</html>