<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->

    <%- include("./partials/_header.ejs") %>
    <br>
      <h3><%=longURL%></h3>
      <p><%=shortURL%></p>
    <br>

    <form method='POST' action= <%='/edit/'+ shortURL %> >
      <label> URL: </label>
      <input type="url" name="newURL" value =<%=longURL %> placeholder="Enter new URL.......">
      <button type='submit'>Submit changes</button>
    </form>
    <a href="/urls">Go to main page</a>

</body>
</html>